iframe { width='100%' height='300' frameborder='0' style='border:0'
  src="https://www.google.com/maps/embed/v1/place
  ?key=AIzaSyDW3I_QRzckkyNfWkA9zE_Qz351Za8TU4U
  &q=#{linkify_address(placement.address)}" }
